{{/* default favicon */}}
{{ $favicon := "/images/favicon.png" }}

{{/* if favicon is provided in the config, then use that */}}
{{ if site.Params.logo.favicon }}
  {{ $favicon = site.Params.logo.favicon }}
{{ end }}

{{/* resize the favicon. don't resize svg because it is not supported */}}
{{ $favicon := resources.Get $favicon }}
{{ if and $favicon (ne $favicon.MediaType.SubType "svg") }}
  {{ $favicon = $favicon.Resize "42x" }}
{{ end }}
{{ $favicon = $favicon.RelPermalink}}
{{ range .AlternativeOutputFormats -}}
{{ printf `
<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- ============ import common css ========== -->
<link nonce="GfYXQKOc0WQSIBpKTPZjc9Dn/oDf7swy+RvK9FWKM9Q=" rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relURL }}"/>
<link nonce="GfYXQKOc0WQSIBpKTPZjc9Dn/oDf7swy+RvK9FWKM9Q=" rel="stylesheet" href="{{ "/css/layouts/main.css" | relURL }}"/>
<link nonce="GfYXQKOc0WQSIBpKTPZjc9Dn/oDf7swy+RvK9FWKM9Q=" rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/navigators/navbar.css" | relURL }}"/>

<!--=================== cdn ==============================-->
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600" integrity="f8sVAV2Me6TteTYRu67UrHZ9JiYv+HvGXbP68eH6ASc4viiRao3rMCMk7c/CUlrL" rel="stylesheet" crossorigin="anonymous">
<!-- <script src="https://kit.fontawesome.com/6da0852699.js" integrity="7Pf2LjjJ459RLeqANVzob9l0fBnYfV372qv19w8O/EfgV/EGp+lABBTlRsc0/fkv%" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="N6mLzetE4YKQnMHzJuCNB0lTIpEkjkGnTfTuZ/tmuxMRjuQHoDuF/MLxK7FVjmcM" crossorigin="anonymous"/>

<!--================= fab-icon =========================-->
<link rel="icon" type="image/png" href="{{ $favicon }}" />

<!--================= custom style overrides =========================-->
<link nonce="GfYXQKOc0WQSIBpKTPZjc9Dn/oDf7swy+RvK9FWKM9Q=" rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
