{{ $title := (index site.Data site.Language.Lang).site.openGraph.title | default site.Title }}
{{ $type := (index site.Data site.Language.Lang).site.openGraph.type | default "website" }}
{{ $description := (index site.Data site.Language.Lang).site.openGraph.description | default (index site.Data
site.Language.Lang).site.description }}
{{ $image := (index site.Data site.Language.Lang).site.openGraph.card | default (index site.Data
site.Language.Lang).author.card }}
{{ $url := (index site.Data site.Language.Lang).site.openGraph.url | default site.BaseURL }}

<!-- ============ open graph tags ========== -->
<meta property="og:title" content="{{ $title }}" />
<meta property="og:type" content="{{ $type }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:url" content="{{ $url }}">
<meta property="og:image" content="{{ $image }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
{{ template "_internal/twitter_cards.html" . }}