<!-- Default Statcounter code for Davidgs blog
https://davidgs.com/ -->
<script type="text/javascript" nonce="GfYXQKOc0WQSIBpKTPZjc9Dn/oDf7swy+RvK9FWKM9Q=">
  var sc_project = 10096606;
  var sc_invisible = 1;
  var sc_security = "2eda6207";
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js"  async></script>
<noscript>
  <div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img
        class="statcounter" src="https://c.statcounter.com/10096606/0/2eda6207/1/" alt="Web Analytics"></a></div>
        <!-- Added some foo! -->
</noscript>

<!-- End of Statcounter Code -->